<div class="container" style="max-width: 600px; margin: auto; padding: 20px">
  <h1 style="text-align: center; color: #333">Create a New Task</h1>
  <form action="/createTask" method="POST">
    <div class="form-group">
      <label for="title">Task Title:</label>
      <input type="text" id="title" name="title" required />
    </div>
    <div class="form-group">
      <label for="content">Task Content:</label>
      <textarea id="content" name="content" rows="4" required></textarea>
    </div>
    <button
      style="
        background-color: #4caf50;
        color: w ite;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
      "
    >
      Submit
    </button>
  </form>
  <%- include('partials/footer'); -%>
</div>
<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', async function (e) {
    e.preventDefault();
    const title = form.title.value;
    const content = form.content.value;
    try {
      const result = await fetch('./createTask', {
        method: 'POST',
        body: JSON.stringify({ title, content }),
        headers: { 'content-type': 'application/json' },
      });
      const data = await result.json();
      console.log(data);
      location.assign('allTask');
    } catch (err) {
      console.error('Error:', err);
      alert('There was an error submitting the form. Please try again.');
    }
  });
</script>
